* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background: url(images/background.jpg);
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

button {
  display: block;
  background-color: grey;
  padding: 10px;
  font-size: 1.4em;
  border-radius: 10px;
}

.buttons {
  display: flex;
  width: 600px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
}

.color-picker {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
}

#color {
  width: 85px;
  height: 35px;
  background: transparent;
  border: none;
}