* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background: url(images/background.jpg);
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

button {
  display: block;
  background-color: grey;
  padding: 10px;
  font-size: 1.4em;
  border-radius: 10px;
  margin: 40px auto 0 auto;
}

.red-background {
  background-color: red;
}

.buttons {
  display: flex;
  width: 400px;
  margin: 0 auto;
}