* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background: url(images/background.jpg);
}

header {
  margin: 65px auto 80px auto;
}

header h1 {
  font-size: 5rem;
  color: white;
  width: max-content;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: white;
  width: 500px;
  height: 500px;
}

.buttons {
  display: flex;
  width: 300px;
  height: max-content;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

button {
  display: block;
  background-color: grey;
  padding: 10px;
  width: 250px;
  font-size: 1.4em;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(161, 161, 161);
}

.active {
  background-color: rgb(161, 161, 161);
  border: 1px solid rgba(255, 255, 67, 0.432);
}

.slider {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: grey;
  padding: 10px;
  width: 250px;
  font-size: 1.2em;
  border-radius: 10px;
}

#size-slider {
  appearance: none;
  height: 8px;
  border-radius: 5px;  
  background: rgb(184, 183, 183);
  outline: none;
  width: 200px;
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

.color-picker {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

#color-picker {
  width: 250px;
  height: 35px;
  background: transparent;
  border: none;
}

/* media query 880px */
@media only screen and (max-width: 880px) {
  .container {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  header {
    margin: 10px auto 30px auto;
  }
  
  .buttons {
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
  }
  
  button {
    width: 200px;
    font-size: 1.4em;
    border-radius: 10px;
  }

  .slider {
    width: 350px;
  }

  #size-slider {
    width: 300px;
  }
  
  #size-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  
  #color-picker {
    width: 300px;
    height: 40px;
  }
  
}

/* media query 600px */
@media only screen and (max-width: 700px) {

  * {
    font-size: 10px;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;
    width: 335px;
    height: 335px;
  }
 
  .buttons {
    width: 350px;
  }
  
  button {
    width: 150px;
    height: 65px;
    font-size: 1.8rem;
  }

  .slider {
    width: 300px;
  }

  #size-slider {
    width: 250px;
    height: 12px;
  }

  #size-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }

  #slider-value {
    font-size: 1.6em;
    padding-bottom: 8px;
  }
  
  label {
    font-size: 2em;
  }

  #color-picker {
    height: 50px;
  }
}

